.dashboard_heading {
  margin: 5px 0 0 0;
}
.company_name {
  color: #474747;
  font-weight: 600;
  font-size: 20px;
}

.dashboard_stats_container {
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .dashboard_stats_card {
    padding: 8px;
    background: #8172f1;
    border-radius: 8px;
  }
}

.dashboard_table_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 26px;
}

.MuiTableHead-root {
  th {
    font-weight: 600;
  }
}
